@font-face {
    font-family: "sFFedora";
    src: url("../assets/fonts/SF\ Fedora.ttf");
}

@font-face {
    font-family: "sFFedoraOutline";
    src: url("../assets/fonts/SF\ Fedora\ Outline.ttf");
}
@font-face {
    font-family: "sFFedoraShadow";
    src: url("../assets/fonts/SF\ Fedora\ Shadow.ttf");

}

@font-face {
    font-family: "sFFedoraTitles";
    src: url("../assets/fonts/SF\ Fedora\ Titles.ttf");
}
@font-face {
    font-family: "sFFedoraTitlesItalic";
    src: url("../assets/fonts/SF\ Fedora\ Titles\ Italic.ttf");
}

@font-face {
    font-family: "sFFedoraTitlesShadow";
    src: url("../assets/fonts/SF\ Fedora\ Titles\ Shadow.ttf");
}

@font-face {
    font-family: "sFFedoraTitlesShadowItalic";
    src: url("../assets/fonts/SF\ Fedora\ Titles\ Shadow\ Italic.ttf");
}
